div#profile-background{
    overflow: hidden;
    display: flex;
    z-index: 1;
    height: 250px;
}
div#profile-background img{
    width: 2000em;
    margin-bottom: -15px; 
    object-fit: cover;
    padding: 0px;
}