.row{
    padding: 20px;
    background-color: skyblue;
}

.contenedor{
    width: auto;
}

.partetexto, .parteimg{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    box-shadow: 2px 2px 2px 2px blue;
    width: 200px;
}

.icons{
    text-decoration: none;
    color: blue;
    padding: 5px;
}

.title{
    margin: 0px;
    padding-left: 20px;
    background-color: skyblue;
}

div{
    background-color: lightskyblue;
    text-align: center;
}

h1.title{
    text-align: left;
}