
<div class="row">
  <div class="container">
    <div>
      <h1 class="title">Proyectos 
          <a class="icons" href="/nuevoproy" *ngIf="isLogged">
              <fa-icon [icon]="faPlusCircle"></fa-icon> 
            </a>
      </h1>
    </div>
    <div class="div-proy-container">
      <div *ngFor="let Proyecto of proy">
        <div class="div-proy">
              <div>
                <!--<img [src]=Proyecto.img class="img-proyecto">-->
                <div class="proy-img" style="background-image: url({{Proyecto.img}})">
                  <p>{{Proyecto.nombre}}</p>
                </div>
              </div>
              <div >
                <div class="proy-descrip">
                  {{Proyecto.descripcion}}
                </div>
              </div>
              <div *ngIf="isLogged">
                  <a class="icons" href="/editproy/{{Proyecto.id}}">
                    <fa-icon [icon]="faPen"></fa-icon> 
                  </a>
                <a class="icons" (click)="verifyDelete(Proyecto.id,'el proyecto')">
                  <fa-icon [icon]="faTrash"></fa-icon> 
                </a>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
