.row{
    background-color: lightskyblue;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    flex-direction: column;
}

.icons{
    text-decoration: none;
    color: blue;
    padding: 5px;
}

.btn{
    margin-top: 10px;
}

div{
    text-align: center;
}

h1.title{
    text-align: left;
}

.app-circles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}