.row{
    background-color: lightskyblue;
    padding: 20px;
}

.icons{
    text-decoration: none;
    color: blue;
    padding: 5px;
}

.btn{
    margin-top: 10px;
}

div{
    text-align: center;
}

h1.title{
    text-align: left;
}
