<div class="row">
  <div class="container">
  <h1 class="title">Aptitudes      
    <a class="icons" href="/nuevaskill" *ngIf="isLogged">
      <fa-icon [icon]="faPlusCircle"></fa-icon> 
    </a>
  </h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let Skill of skill">
      <div>
        <circle-progress 
        [percent]="Skill.porcentaje"
        [radius]="80"
        [title]="Skill.nombre"
        [imageSrc]="Skill.img" 
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [innerStrokeColor]="'white'"
        [animationDuration]="500"
      ></circle-progress>
      </div>
      <div>
        <a class="icons" href="/editskill/{{Skill.id}}" *ngIf="isLogged">
          <fa-icon [icon]="faPen"></fa-icon> 
        </a>
        <a class="icons" (click)="verifyDelete(Skill.id,'la aptitud')" *ngIf="isLogged">
          <fa-icon [icon]="faTrash"></fa-icon> 
        </a>
      </div>
    </div>
  </div>
</div>
