<div class="card mat-card">
    <div id="aptitudes">
      <div class="card-titles">
        <h2>Aptitudes</h2>
        <div class="btn-edit">
          <a href="#" class="btn-right"></a>
        </div>
      </div>
    </div>
    <div>
      <ul class="items-list">
        <li *ngFor="let aptitudes of aptitudesList">
          <div class="data-container">
            <div class="list-info">
              <div>
                <h5>{{aptitudes.name}}</h5>
              <!--   <p>{{aptitudes.career}}</p>
                <p><time>{{aptitudes.start}}</time> - <time>{{aptitudes.end}}</time></p> -->
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>



