<div class="card mat-card" id="profile">
    <div class="header-logo">
        <app-logo-arg-prog></app-logo-arg-prog>
    </div>
    <div id="profile-background"> <img [src]="miPorfolio.backimage" alt="Backgrounddelportfolio"> </div>
    <div id="info">
        <div id="info-img">
            <img class="profile-image" [src]="miPorfolio.image">  
            <div class="btn-edit">
                <a href="#" class="btn-right"> <i class="fa fa-pen"></i></a> 
            </div>
        </div>
        <div id="info-data">
            <div>
                <h1>{{miPorfolio.name}}</h1>
                <div id="info-company">{{miPorfolio.position}}</div>
                <div id="info-contact">
                    <span>{{miPorfolio.ubicacion}}</span>
                </div>
                <div><span><a href="#">Información de contacto</a></span></div>
            </div>
            <div>
                <ul id="info-details">
                    <!-- <li>
                        <a href="https://www.purityestetica.com.ar/">
                            <img id="logo_purity" src="img/logo_purity.png" alt="imagen pagina purity">
                            <h2>Purity</h2> 
                        </a>
                    </li>  -->
                    <li class="li-schools">
                        <a [href]="miPorfolio.school.url">
                            <img id="logo_frc" [src]="miPorfolio.school.img" alt="Imagen Universidad Tecnolócia Nacional - FRC">
                            <!-- <h2>UTN FRC</h2> -->
                        </a>
                    </li>
                    <li class="li-schools">
                        <a [href]="miPorfolio.school2.url">
                            <img id="logo_famaf" [src]="miPorfolio.school2.img" alt="Imagen Universidad Nacional de Córdoba - FAMAF">
                            <!-- <h2>FAMAF UNC</h2> -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="buttons">
    <button type="button" class="btn btn-primary">Tengo interés en</button>
    <button type="button" class="btn btn-light">Añadir Sección</button>
    <button type="button" class="btn btn-light">Más</button>
    </div>
</div>
