<p>header works!</p>
<div class="card mat-card" id="profile">
    <div id="profile-background"> <img src="https://media.istockphoto.com/photos/futuristic-earth-map-technology-abstract-background-picture-id1061550264?s=612x612" alt="description"> </div>
    <div id="info">
        <div id="info-img">
            <img class="profile-image" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg">  
            <div class="btn-edit">
                <a href="#" class="btn-right"> <i class="fa fa-pen"></i></a> 
            </div>
        </div>
        <div id="info-data">
            <div>
                <h1>Francisco Gimenez</h1>
                <div id="info-company">Ingeniero Electrónico en Purity Argentina</div>
                <div id="info-contact">
                    <span>Córdoba Argentina</span>
                    <span><a href="#">Información de contacto</a></span>
                </div>
            </div>
            <div>
                <ul id="info-details">
                    <!-- <li>
                        <a href="https://www.purityestetica.com.ar/">
                            <img id="logo_purity" src="img/logo_purity.png" alt="imagen pagina purity">
                            <h2>Purity</h2> 
                        </a>
                    </li>  -->
                    <li>
                        <a href="https://www.frc.utn.edu.ar/">
                            <img id="logo_frc" src="img/logo_frc_utn.jpeg" alt="Imagen Universidad Tecnolócia Nacional - FRC">
                            <!-- <h2>UTN FRC</h2> -->
                        </a>
                    </li>
                    <li>
                        <a href="https://www.famaf.unc.edu.ar/">
                            <img id="logo_famaf" src="img/logoFaMAF.svg" alt="Imagen Universidad Nacional de Córdoba - FAMAF">
                            <!-- <h2>FAMAF UNC</h2> -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="buttons">
    <button type="button" class="btn btn-primary">Tengo interés en</button>
    <button type="button" class="btn btn-light">Añadir Sección</button>
    <button type="button" class="btn btn-light">Más</button>
    </div>
</div>
