.row{
    padding: 20px;
    background:lightskyblue;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    flex-direction: column;
}

h1, h3{
    display: inline;
}

.icons{
    text-decoration: none;
    color: blue;
}

h1.title{
    text-align: left;
}

table {
    background-color: lightskyblue; /* O usa #87CEEB para skyblue */
}
  
table th, table td {
    background-color: lightskyblue; /* Asegúrate de aplicar también a las celdas */
}
  