<div class="row">
  <h2>Experiencia Laboral
      <a class="icons" href="/nuevaexp" *ngIf="isLogged">
        <fa-icon [icon]="faPlusCircle"></fa-icon> 
      </a>
    </h2>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of expe">
          <td><h2>{{Experiencia.nombreE}}</h2></td>
          <td>{{Experiencia.descripcionE}}</td>
          <td *ngIf="isLogged">
              <a class="icons" href="/editexp/{{Experiencia.id}}">
                <fa-icon [icon]="faPen"></fa-icon> 
              </a>
          </td>
          <td *ngIf="isLogged">
            <a class="icons" (click)="delete(Experiencia.id)">
              <fa-icon [icon]="faTrash"></fa-icon> 
            </a>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--
<div class="card mat-card">
    <div id="experience">
      <div class="card-titles">
        <h2>Experiencia</h2>
        <div class="btn-edit">
          <a href="#" class="btn-right"></a>
        </div>
      </div>
    </div>
    <div>
      <ul class="items-list">
        <li *ngFor="let experiencia of experienceList">
          <div class="data-container">
            <a class="data-list" [href]="experiencia.url">
              <div class="logo-image-container">
                <img
                  class="logo-image"
                  [src]="experiencia.img"
                />
              </div>
            </a>
            <div class="list-info">
              <div>
                <h3>{{experiencia.company}}</h3>
                <p>{{experiencia.position}}</p>
                <p>{{experiencia.modo}}</p>
                <p>{{experiencia.timeElapsed}}</p>
                <p><time>{{experiencia.start}}</time> - <time>{{experiencia.end}}</time></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
-->

