div{
    background-color: lightskyblue;
    text-align: center;
}

#name{
    font-weight: bold;
}

.row{
    margin: 0px;
}


/*Estilo de la img de perfil*/
@media (min-width: 576px){
    #img-perfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 2px 2px 2px 2px lightblue;
        left: 3%;
        top:240px;
    }
    #name-title{
        margin-top: 20px;
        margin-left: 15px;
        height: 100px;
    }
    #acerca-de-mi{
        margin-top: 10px;
    }
}

@media (max-width: 575px){
    #img-perfil{
        /*position: absolute;*/
        width: 30%;
        border-radius: 100%;
        box-shadow: 2px 2px 2px 2px lightblue;
        left: 33%;
        /*top:400px;*/
        margin-top: -55px;
        z-index:1;
    }
    #name-title{
        margin-top: 30px;
        left: 3%;
    }
}