<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="img-perfil" [src]=persona.img class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
        <div id="name-title">
        <p id="name">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="title">{{persona.titulo}}</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="acerca-de-mi">
            <h1>Acerca de mí
                <a class="icons" href="/editperfil/{{persona.id}}" *ngIf="isLogged">
                    <fa-icon [icon]="faPen"></fa-icon> 
                </a>    
            </h1>        
            <p id="descripcion">{{persona.descripcion}}</p>
    </div>
</div>
