<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="img-perfil" src="../../../assets/img/img_perfil.png" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
        <div id="name-title">
        <p id="name">{{persona.nombre}}</p>
        <p id="title">Full Stack Developer Jr</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="acerca-de-mi">
            <h1>Acerca de mí</h1>
            <p>Ingeniero Electrónico y estudiante de Licenciatura en Ciencias de la Computación.</p>
        </div>
    </div>
</div>
