<div class="card mat-card">
    <div class="card-titles">
        <h2 id="acercade">Acerca de</h2>
        <div class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right">
                <i class="fa fa-pen"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <p id="text-acerca">Ingeniero Electrónico y estudiante de Licenciatura en Ciencias de la Computación.</p>
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="myFuncion2(this.value)" style="display: none">
    </div>
</div>